<div class="content-background">

    <div class="content-block">
        <span class="block__title text" [innerHTML]="this.homeLanguage[0]"></span>
        <span class="block__description text" [innerHTML]="this.homeLanguage[1]"></span>
        <div class="text-image__container">
            <div class="text-image__image image__left home-image__1"></div>
            <div class="text-image__description">
                <span class="text" [innerHTML]="this.homeLanguage[2]"></span>
            </div>
        </div>
        <span class="block__description text"  [innerHTML]="this.homeLanguage[3]"></span>
    </div>
    <div class="content-block">
        <span class="block__title text"  [innerHTML]="this.homeLanguage[4]"></span>
        <span class="block__description text" [innerHTML]="this.homeLanguage[5]"></span>
        <a class="block__button text" href="https://www.dicebreaker.com/games/magic-the-gathering-game/how-to/how-to-play-magic-the-gathering">
            <span  [innerHTML]="this.homeLanguage[6]"></span>
        </a>  
    </div>
    <div class="content-block">
        <span class="block__title text" [innerHTML]="this.homeLanguage[7]"></span>
        <span class="block__description text"></span>
        <span class="block__description text"  [innerHTML]="this.homeLanguage[8]"></span>
        <div class="text-image__container">
            <div class="text-image__image image__left home-image__2"></div>
            <div class="text-image__description text">
                <span class="text" [innerHTML]="this.homeLanguage[9]"></span>
                <a class="block__button text" href="https://www.dicebreaker.com/games/magic-the-gathering-game/how-to/how-to-play-magic-the-gathering">
                    <span  [innerHTML]="this.homeLanguage[10]"></span>
                </a>
            </div>
        </div>
        <div class="text-image__container">
            <div class="text-image__description text">
                <span class="text" [innerHTML]="this.homeLanguage[11]"></span>
            </div>
            <div class="text-image__image image__right home-image__3"></div>
        </div>
        <span class="block__description text text--center" [innerHTML]="this.homeLanguage[12]"></span>
    </div>
    
</div>