<div class = "header">
    <a class="header__logo" href="/home"></a>
    <a class="header__button" href="/cardlist" [innerHtml]="this.headerLanguage[0]"></a>
    <div class="header-language__container">
      <span class="header-language__text text" [innerHtml]="this.headerLanguage[1]"></span>
      <select class="header-language__input" (change)="onLanguageChange($event)">
        <option class="text" value="English" [innerHtml]="this.headerLanguage[2]"></option>
        <option class="text" value="Spanish" [innerHtml]="this.headerLanguage[3]"></option>
      </select>
    </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
    <div class="footer__social-network text">{{this.footerLanguage[0]}}</div>
    <div class="social-network__container">
      <div class="social-network__link">
        <a class="social-network__image social_1" href="https://twitter.com/wizards_magic"></a>
      </div>
      <div class="social-network__link">
        <a class="social-network__image social_2" href="https://www.instagram.com/wizards_magic/"></a>
      </div>
      <div class="social-network__link">
        <a class="social-network__image social_3" href="https://www.facebook.com/MagicTheGathering"></a>
      </div>
      <div class="social-network__link">
        <a class="social-network__image social_4" href="https://www.youtube.com/channel/UC8ZGymAvfP97qJabgqUkz4A"></a>
      </div>
    </div>
</div>
<div class="footer__rights text text--center">{{this.footerLanguage[1]}}</div>